{
	"extends": "stylelint-config-standard",
	"rules": {
		"color-hex-case": "upper",
		"unit-blacklist": ["px"],
		"at-rule-no-unknown": [true, {
			"ignoreAtRules": ["mixin", "content", "include", "each", "extend", "function", "return"]
		}],
		"declaration-property-unit-blacklist": [{
			"line-height": ["px", "rem", "em"]
		}]
	}
}
